h1 {
     font-family: "Caesar Dressing", system-ui;
}

#a {
    font-family: "Vast Shadow", serif;
}

#b {
    font-family: "Mea Culpa", cursive;
}

#c {
    font-family: "Monsieur La Doulaise", cursive;
}

#d {
    font-family: "Jim Nightshade", cursive;
}